extends ../layouts/default.jade
block content
	form.form-horizontal(name="form",role="form",novalidate,data-ng-submit="doRegister()",data-ng-controller="AuthController")
		.row
			.fade.in.alert.alert-danger.col-sm-4.col-sm-offset-2(ng-show="message")
				// button.close(data-dismiss="alert") &times;
				strong  {{message}}
		.form-group
			label.col-sm-2.control-label 用户名:
			.col-sm-4
				input.form-control(ensure-unique="User",name="username",ng-required="true",ng-model="user.username",ng-minlength="2",ng-maxlength="30",autocomplete="off",type="text",placeholder="请输入用户名")
			.col-sm-6
				span.label.label-warning(ng-show="form.username.$pristine && form.username.$error.required") 请输入用户名.
				span.label.label-danger(ng-show="form.username.$error.minlength || form.username.$error.maxlength") 请输入2~30个字符长度
				span.label.label-danger(ng-show="form.username.$error.unique") 用户名"{{user.username}}"已被占用，请更换名称
		.form-group
			label.col-sm-2.control-label 密码:
			.col-sm-4
				input.form-control(name="password",ng-required="true",ng-model="user.password",type="password",ng-minlength="5",ng-maxlength="30",autocomplete="off",placeholder="请输入密码")
			.col-sm-6
				span.label.label-warning(ng-show="form.password.$pristine && form.password.$error.required") 请输入密码
				span.label.label-danger(ng-show="form.password.$dirty && form.password.$invalid") 请输入5~30个字符长度
		.form-group
			label.col-sm-2.control-label 真实姓名:
			.col-sm-4
				input.form-control(name="realname",ng-required="true",ng-model="user.realname",type="text",ng-minlength="2",ng-maxlength="30",autocomplete="off",placeholder="请输入真实姓名")
			.col-sm-6
				span.label.label-warning(ng-show="form.realname.$pristine && form.realname.$error.required") 请输入真实姓名
				span.label.label-danger(ng-show="form.realname.$dirty && form.realname.$invalid") 请输入2~30个字符
		.form-group
			label.col-sm-2.control-label 电子邮箱:
			.col-sm-4
				input.form-control(name="email",type="email",ng-model="user.email",placeholder="请输入电子邮箱.")
			.col-sm-6
				span.label.label-danger(ng-show="form.email.$error.email") 请输入正确格式
		.form-group
			.col-sm-4.col-sm-offset-2
				input.btn.btn-success(type="submit",ng-disabled="form.$invalid",value="提交")
				| &nbsp;&nbsp; 已有账号?  
				a(href="/login") 登录
