<div class="alert alert-info" ng-show="message">
	{{message}}
</div>
<table class="table table-bordered table-striped table-hover" ng-show="moneys && moneys.length">
	<caption><h3>{{global.user.realname}}消费列表</h3></caption>
	<tr>
		<td>序号</td>
		<td>日期</td>
		<td>花费</td>
		<td>备注</td>
		<td>操作</td>
	</tr>
	<tr class="money-listing" ng-repeat="money in moneys " >
		<td>{{$index+1}}</td>
		<td>{{money.costDate | date:'yyyy年MM月dd日'}}</td>
		<td>{{money.cost | number:2}}元</td>
		<td>{{money.desc}}</td>
		<td>
			<!--
			<a class="" ui-sref="moneys-detail({id:money._id})">详情</a>
			-->
			<a href="javascript:void(0);" ng-click="openDetail($index)">详情</a>
			<!-- 使用 ui-sref 跳转修改页面
			<a class="" href="#!/money/update/{{money._id}}">修改</a>
			-->
			<a ui-sref="moneys-update({id:money._id})">修改</a>
			<a class="" href="javascript:void(0);" ng-click="removeConfirm($index)">删除</a>
		</td>
	</tr>
	<tfoot>
		<tr>
			<td>共<code>{{moneys.length}}</code>项</td>
			<td class="text-right">总金额:</td>
			<td><code>{{sumPrice | number:2}}元</code></td>
			<td colspan="2"><a ui-sref="moneys-create" class="">新增消费</a></td>
		</tr>
	</tfoot>
</table>

<div class="alert alert-info ng-cloak" ng-hide="moneys && moneys.length">
	当前没有消费记录,<a ui-sref="moneys-create">新增</a>一个吧
</div>

<!-- 消费详情对话框 -->
<script type="text/ng-template" id="moneyDetail.html">
	<div class="modal-header">
		<h3>消费详情</h3>
	</div>
	<div class="modal-body">
		<dl class="dl-horizontal">
			<dt>消费日期</dt>	
			<dd>{{money.costDate | date:'yyyy年MM月dd日'}}</dd>
			<dt>消费金额</dt>
			<dd>{{money.cost | number:2}}元</dd>
			<dt>消费备注</dt>
			<dd>{{money.desc}}</dd>
		</dl>
	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" ng-click="ok()">关闭</button>
	</div>
</script>
<!-- 删除条目确认对话框 -->
<script type="text/ng-template" id="moneyDeleteConfirm.html">
	<div class="modal-header">
		<h4>消费详情</h4>
	</div>
	<div class="modal-body">
		<dl class="dl-horizontal">
			<dt>消费日期</dt>	
			<dd>{{money.costDate | date:'yyyy年MM月dd日'}}</dd>
			<dt>消费金额</dt>
			<dd>{{money.cost | number:2}}元</dd>
			<dt>消费备注</dt>
			<dd>{{money.desc}}</dd>
			<dt></dt>
		</dl>
	</div>
	<div class="modal-footer">
		<code>确认删除?</code>&nbsp;&nbsp;&nbsp;&nbsp;
		<button class="btn btn-warning" ng-click="ok()">确定</button>
		<button class="btn btn-primary" ng-click="close()">取消</button>
	</div>
</script>
