doctype html
html(lang="en")
	include ../includes/head.jade
	body.ng-cloak
		.navbar.navbar-inverse.navbar-fixed-top(data-ng-include="'/views/header.html'",data-role="navigation")
		section.content
			script(type="text/javascript")!= 'window.user = ' + JSON.stringify(req.user || null) + ';'
			section.container.view-container
				block content
		include ../includes/foot.jade
